# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/build/
android/app/build/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/fonts/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
.dart_tool/
.idea/
build/
android/.gradle/
android/app/build/
ios/.generated/